.u-section-1 .u-sheet-1 {
  min-height: 792px;
}

.u-section-1 .u-text-1 {
  margin: 39px auto 0 37px;
}

.u-section-1 .u-text-2 {
  margin: -40px 479px 0 105px;
}

.u-section-1 .u-text-3 {
  margin: 28px 382px 0 37px;
}

.u-section-1 .u-list-1 {
  width: 1103px;
  margin: 30px 0 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 375px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 379px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 219px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 164px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 132px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 40px auto 53px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}