.u-section-1 .u-sheet-1 {
  min-height: 430px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin: 70px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 315px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 259px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 595px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 784px;
}

.u-section-2 .u-image-1 {
  width: 603px;
  height: 392px;
  margin: 38px 10px 0 auto;
}

.u-section-2 .u-text-1 {
  text-align: start;
  margin: -366px 190px 0 20px;
}

.u-section-2 .u-text-2 {
  text-align: start;
  margin: 170px 190px 0 20px;
}

.u-section-2 .u-text-3 {
  text-align: start;
  margin: -191px 842px 0 20px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-4 {
  text-align: start;
  margin: 78px 867px 0 20px;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-5 {
  text-align: start;
  margin: 106px 0 0 10px;
}

.u-section-2 .u-text-6 {
  text-align: start;
  margin: 14px 677px 60px 10px;
}

.u-section-2 .u-btn-8 {
  background-image: none;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-10 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-top: 102px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -392px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 653px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 677px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-btn-8 {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-2 .u-image-1 {
    width: 388px;
    height: 292px;
    margin-top: 7px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -274px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 443px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 467px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 467px;
    margin-bottom: 38px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-2 .u-image-1 {
    width: 270px;
    height: 203px;
    margin-top: 50px;
    margin-right: 24px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -174px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 263px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 287px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 287px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 32px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: -630px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 63px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 87px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 87px;
    margin-bottom: -144px;
  }
}