.u-section-1 .u-sheet-1 {
  min-height: 847px;
}

.u-section-1 .u-image-1 {
  width: 603px;
  height: 392px;
  margin: 149px 10px 0 auto;
}

.u-section-1 .u-text-1 {
  text-align: start;
  margin: -366px 190px 0 20px;
}

.u-section-1 .u-text-2 {
  text-align: start;
  margin: 170px 190px 0 20px;
}

.u-section-1 .u-text-3 {
  text-align: start;
  margin: -191px 842px 0 20px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  text-align: start;
  margin: 78px 867px 60px 20px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  text-align: start;
  width: auto;
  margin: 20px 0 60px 10px;
}

.u-section-1 .u-text-6 {
  text-align: start;
  width: auto;
  margin: 20px 677px 60px 10px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 102px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -392px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 653px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 677px;
    margin-bottom: 0;
    margin-left: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-8 {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 10px;
    margin-right: auto;
    margin-left: 36px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -315px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 443px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 467px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 467px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 351px;
    margin-top: 102px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 263px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 287px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 287px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 221px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 63px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 87px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 87px;
  }
}